@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Rubik&display=swap");
@font-face {
  font-family: "Days One";
  src: url("../fonts/DaysOne-Regular.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body.lock {
  overflow: hidden;
}

.container {
  padding: 0 4%;
}
@media (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
}

img {
  display: block;
}

a {
  display: block;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

input {
  display: block;
  outline: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

label.input__label {
  color: #242424;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

input.input {
  background: white;
  border: 1px solid #AEAEAE;
  padding: 13px 15px;
}
input.input::-webkit-input-placeholder {
  color: #AEAEAE;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}
input.input::-moz-placeholder {
  color: #AEAEAE;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}
input.input:-ms-input-placeholder {
  color: #AEAEAE;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}
input.input::-ms-input-placeholder {
  color: #AEAEAE;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}
input.input::placeholder {
  color: #AEAEAE;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

input.input__search {
  background: #FFF;
  border: none;
}

button {
  font-family: "Rubik", sans-serif;
  display: block;
  outline: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

button.btn {
  border-radius: 67px;
  border: 1px solid #242424;
  background: #FFF;
  padding: 8px 18px;
  color: #242424;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}
button.btn:active, button.btn:hover {
  border: 1px solid #242424;
  background: #242424;
  color: #FFF;
}

h1 {
  font-family: "Days One";
  color: #242424;
  font-size: 32px;
  font-weight: 400;
  line-height: 115%;
}
@media (max-width: 1280px) {
  h1 {
    font-size: 28px;
  }
}
@media (max-width: 1023px) {
  h1 {
    font-size: 24px;
  }
}
@media (max-width: 475px) {
  h1 {
    font-size: 20px;
  }
}

.swiper-button-prev, .swiper-button-next {
  z-index: 8 !important;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9;
}
.modal.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.modal-inner {
  max-width: 425px;
  border-radius: 15px;
  background: #FFF;
  -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 50px 30px;
  position: relative;
}
.modal-close {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
}
.modal-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  margin-bottom: 40px;
}
.modal-top button {
  border: none;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: #696969;
  background-color: transparent;
}
.modal-top button.active {
  color: #242424;
}
.modal-form input,
.modal-form label {
  display: block;
  width: 100%;
}
.modal-form input {
  margin-top: 5px;
  color: #242424;
  padding: 10px 15px;
  border: 1px solid #AEAEAE;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 19.6px */
}
.modal-form input::-webkit-input-placeholder {
  color: #AEAEAE;
  font-family: "Rubik", sans-serif;
}
.modal-form input::-moz-placeholder {
  color: #AEAEAE;
  font-family: "Rubik", sans-serif;
}
.modal-form input:-ms-input-placeholder {
  color: #AEAEAE;
  font-family: "Rubik", sans-serif;
}
.modal-form input::-ms-input-placeholder {
  color: #AEAEAE;
  font-family: "Rubik", sans-serif;
}
.modal-form input::placeholder {
  color: #AEAEAE;
  font-family: "Rubik", sans-serif;
}
.modal-form label {
  color: #242424;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 19.6px */
  margin-bottom: 20px;
}
.modal-form label:last-child {
  margin-bottom: 0;
}
.modal p {
  text-align: center;
  color: #242424;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.modal p a {
  text-decoration: underline;
  display: inline;
  color: #242424;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}
.modal .btn {
  width: 100%;
  margin-top: 40px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  background: white;
}
.header-top {
  background: #EFEFEF;
  padding: 10px 0;
}
.header-top__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-column-gap: 100px;
     -moz-column-gap: 100px;
          column-gap: 100px;
}
@media (max-width: 1100px) {
  .header-top__inner {
    -webkit-column-gap: 45px;
       -moz-column-gap: 45px;
            column-gap: 45px;
  }
}
@media (max-width: 1023px) {
  .header-top {
    display: none;
  }
}
.header-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
}
.header-links a {
  color: #696969;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
}
.header-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 45px;
     -moz-column-gap: 45px;
          column-gap: 45px;
}
.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
}
@media (max-width: 1280px) {
  .header-nav {
    -webkit-column-gap: 60px;
       -moz-column-gap: 60px;
            column-gap: 60px;
  }
}
@media (max-width: 1100px) {
  .header-nav {
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
  }
}
@media (max-width: 1023px) {
  .header-nav {
    display: none;
  }
}
.header-nav a {
  font-family: "Rubik", sans-serif;
  color: #242424;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}
.header-logo {
  max-width: 110px;
}
.header-logo img {
  width: 100%;
}
@media (max-width: 1280px) {
  .header-logo {
    max-width: 85px;
  }
}
@media (max-width: 1023px) {
  .header-logo {
    max-width: 80px;
  }
}
@media (max-width: 475px) {
  .header-logo {
    max-width: 65px;
  }
}
@media (max-width: 375px) {
  .header-logo {
    max-width: 55px;
  }
}
.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.header-bottom {
  padding: 8px 0;
}
.header-bottom__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-bottom__parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.header-btn {
  cursor: pointer;
}
.header-mobile {
  overflow-y: scroll;
  position: fixed;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  background: #FFF;
  z-index: 11;
  padding: 10px 20px 40px 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.header-mobile.active {
  left: 0;
}
.header-mobile__close {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
}
.header-mobile__content {
  margin-top: 40px;
}
.header-mobile__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-column-gap: 45px;
     -moz-column-gap: 45px;
          column-gap: 45px;
}
.header-mobile__nav a {
  color: #515151;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 30px;
}
.header-mobile__nav a:last-child {
  margin-bottom: 0;
}
.header .burger-menu {
  display: none;
  width: 25px;
  height: 25px;
  position: relative;
  cursor: pointer;
}
@media (max-width: 1023px) {
  .header .burger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 4.4px;
  }
}
@media (max-width: 375px) {
  .header .burger-menu {
    width: 20px;
    height: 15px;
  }
}
.header .burger-line {
  width: 100%;
  height: 2px;
  background-color: #333;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

main {
  margin-top: 135px;
}
@media (max-width: 1280px) {
  main {
    margin-top: 120px;
  }
}
@media (max-width: 1023px) {
  main {
    margin-top: 80px;
  }
}

.header-bottom__menu {
  display: none;
  overflow: hidden;
  padding-top: 5px;
}
@media (max-width: 1023px) {
  .header-bottom__menu {
    display: block;
  }
}

.menu-container {
  width: 100%;
  overflow-x: scroll;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-list a {
  color: var(--000000, #242424);
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

/* Стили для мобильных устройств */
@media screen and (max-width: 768px) {
  .menu-container {
    overflow-x: auto;
    white-space: nowrap;
  }
}
.header-bottom {
  position: relative;
}

.search-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  /* Semi-transparent background */
  z-index: 9;
  /* Ensure it's above other content */
}

/* Styles for the search-inner */
.search-inner {
  position: absolute;
  top: 135px;
  width: 60%;
  left: 20%;
  border-radius: 0px 0px 10px 10px;
  background: #FFF;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
@media (max-width: 1280px) {
  .search-inner {
    top: 120px;
  }
}
@media (max-width: 1023px) {
  .search-inner {
    width: 80%;
    top: 90px;
    left: 10%;
  }
}
@media (max-width: 1023px) {
  .search-inner {
    width: 100%;
    top: 80px;
    left: 0;
  }
}
.search-inner input {
  width: 100%;
  border: none;
  outline: none;
  color: #242424;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 19.6px */
}

.hero-wrapper {
  padding: 25px 0 65px;
  border-radius: 15px;
  background-image: linear-gradient(348deg, rgba(0, 13, 46, 0.6) 9.31%, rgba(0, 0, 0, 0) 119.33%), url("../img/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
@media (max-width: 475px) {
  .hero-wrapper {
    background-position: top center;
    background-image: linear-gradient(357deg, rgba(0, 0, 0, 0.6) -34.63%, rgba(0, 0, 0, 0) 147.95%), url("../img/hero-bg_mob.png");
    padding: 20px 0;
  }
}
.hero-inner {
  padding: 0 95px;
}
@media (max-width: 768px) {
  .hero-inner {
    padding: 0 30px;
  }
}
@media (max-width: 475px) {
  .hero-inner {
    padding: 0 15px;
  }
}
.hero-heading {
  width: 100%;
  color: #FFF;
  text-align: center;
  font-family: "Days One";
  font-size: 5vw;
  font-weight: 400;
  line-height: 115%;
  text-transform: uppercase;
  margin-bottom: 55px;
}
@media (max-width: 1023px) {
  .hero-heading {
    margin-bottom: 35px;
  }
}
@media (max-width: 768px) {
  .hero-heading {
    font-size: 52px;
  }
}
@media (max-width: 475px) {
  .hero-heading {
    text-align: left;
    font-size: 48px;
  }
}
@media (max-width: 375px) {
  .hero-heading {
    font-size: 42px;
  }
}
.hero-title {
  color: #FFF;
  font-size: 32px;
  font-weight: 400;
  line-height: 115%;
}
@media (max-width: 1280px) {
  .hero-title br {
    display: none;
  }
}
@media (max-width: 1023px) {
  .hero-title {
    font-size: 26px;
  }
}
@media (max-width: 768px) {
  .hero-title {
    font-size: 20px;
  }
}
.hero-link {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 475px) {
  .hero-link img {
    width: 20px;
  }
}
.hero-link span {
  color: #FFF;
  font-family: "Days One";
  font-size: 32px;
  font-weight: 400;
  line-height: 115%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 1280px) {
  .hero-link span {
    font-size: 28px;
  }
}
@media (max-width: 1023px) {
  .hero-link span {
    font-size: 22px;
  }
}
@media (max-width: 475px) {
  .hero-link span {
    font-size: 20px;
  }
}
.hero-link:hover span {
  text-decoration: underline;
}

.novelty {
  margin-top: 50px;
}
@media (max-width: 768px) {
  .novelty {
    margin-top: 30px;
  }
}
.novelty-btn {
  position: relative;
  margin-right: 4%;
  margin-top: 25px;
}
@media (max-width: 768px) {
  .novelty-btn {
    margin-right: 20px;
  }
}
.novelty-wrapper {
  margin-left: 4%;
}
.novelty-wrapper .swiper-button-prev, .novelty-wrapper.swiper-button-next {
  position: static;
}
.novelty-wrapper .swiper-button-prev path, .novelty-wrapper.swiper-button-next path {
  fill: #323232;
}
.novelty-wrapper .swiper-button-prev:after, .novelty-wrapper .swiper-button-next:after {
  display: none;
}
@media (max-width: 768px) {
  .novelty-wrapper {
    margin-left: 20px;
  }
}
.novelty-background {
  border-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  min-height: 470px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 30px 35px;
}
@media (max-width: 1280px) {
  .novelty-background {
    min-height: 420px;
  }
}
@media (max-width: 1023px) {
  .novelty-background {
    min-height: 350px;
  }
}
@media (max-width: 768px) {
  .novelty-background {
    min-height: 320px;
  }
}
@media (max-width: 475px) {
  .novelty-background {
    min-height: 300px;
    padding: 10px;
  }
}
@media (max-width: 375px) {
  .novelty-background {
    min-height: 250px;
  }
}
.novelty-title {
  color: #FFF;
}
.novelty-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  margin-top: 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 475px) {
  .novelty-link {
    -webkit-column-gap: 5px;
       -moz-column-gap: 5px;
            column-gap: 5px;
  }
}
@media (max-width: 475px) {
  .novelty-link img {
    width: 20px;
  }
}
.novelty-link span {
  color: #FFF;
  font-family: "Days One";
  font-size: 32px;
  font-weight: 400;
  line-height: 115%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 1280px) {
  .novelty-link span {
    font-size: 28px;
  }
}
@media (max-width: 1023px) {
  .novelty-link span {
    font-size: 22px;
  }
}
@media (max-width: 475px) {
  .novelty-link span {
    font-size: 20px;
  }
}
.novelty-link:hover span {
  text-decoration: underline;
}

.series {
  margin-top: 50px;
}
@media (max-width: 768px) {
  .series {
    margin-top: 30px;
  }
}
.series-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
@media (max-width: 475px) {
  .series-wrapper {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
  }
}
.series-card {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 15px;
  height: 650px;
  padding: 70px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 1280px) {
  .series-card {
    height: 550px;
  }
}
@media (max-width: 1023px) {
  .series-card {
    height: 450px;
    padding: 30px;
  }
}
@media (max-width: 768px) {
  .series-card {
    height: 300px;
  }
}
@media (max-width: 475px) {
  .series-card {
    height: 350px;
  }
}
.series-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 475px) {
  .series-link img {
    width: 20px;
  }
}
.series-link span {
  color: #FFF;
  font-family: "Days One";
  font-size: 32px;
  font-weight: 400;
  line-height: 115%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 1280px) {
  .series-link span {
    font-size: 28px;
  }
}
@media (max-width: 1023px) {
  .series-link span {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .series-link span {
    font-size: 20px;
  }
}
.series-link:hover span {
  text-decoration: underline;
}

.sale {
  margin-top: 50px;
}
@media (max-width: 768px) {
  .sale {
    margin-top: 30px;
  }
}
.sale-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 35px;
}
.sale-top__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
}
.sale-top__link span {
  color: #242424;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}
.sale-background {
  height: 230px;
  border-radius: 15px;
}
@media (max-width: 768px) {
  .sale-background {
    height: 200px;
  }
}
.sale-btn {
  position: relative;
  margin-top: 25px;
}
.sale-btn .swiper-button-prev, .sale-btn.swiper-button-next {
  position: static;
}
.sale-btn .swiper-button-prev path, .sale-btn.swiper-button-next path {
  fill: #323232;
}
.sale-btn .swiper-button-prev:after, .sale-btn .swiper-button-next:after {
  display: none;
}

.hats {
  margin-top: 50px;
}
@media (max-width: 768px) {
  .hats {
    margin-top: 30px;
  }
}
.hats-btn {
  position: relative;
  margin-right: 4%;
  margin-top: 25px;
}
@media (max-width: 768px) {
  .hats-btn {
    margin-right: 20px;
  }
}
.hats-wrapper {
  margin-left: 4%;
}
.hats-wrapper .swiper-button-prev, .hats-wrapper.swiper-button-next {
  position: static;
}
.hats-wrapper .swiper-button-prev path, .hats-wrapper.swiper-button-next path {
  fill: #323232;
}
.hats-wrapper .swiper-button-prev:after, .hats-wrapper .swiper-button-next:after {
  display: none;
}
@media (max-width: 768px) {
  .hats-wrapper {
    margin-left: 20px;
  }
}
.hats-background {
  border-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  min-height: 470px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 30px 35px;
}
@media (max-width: 1280px) {
  .hats-background {
    min-height: 420px;
  }
}
@media (max-width: 1023px) {
  .hats-background {
    min-height: 350px;
  }
}
@media (max-width: 768px) {
  .hats-background {
    min-height: 320px;
  }
}
@media (max-width: 475px) {
  .hats-background {
    min-height: 300px;
    padding: 10px;
  }
}
@media (max-width: 375px) {
  .hats-background {
    min-height: 250px;
  }
}
.hats-title {
  color: #FFF;
}
.hats-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  margin-top: 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 475px) {
  .hats-link {
    -webkit-column-gap: 5px;
       -moz-column-gap: 5px;
            column-gap: 5px;
  }
}
@media (max-width: 475px) {
  .hats-link img {
    width: 20px;
  }
}
.hats-link span {
  color: #FFF;
  font-family: "Days One";
  font-size: 32px;
  font-weight: 400;
  line-height: 115%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 1280px) {
  .hats-link span {
    font-size: 28px;
  }
}
@media (max-width: 1023px) {
  .hats-link span {
    font-size: 22px;
  }
}
@media (max-width: 475px) {
  .hats-link span {
    font-size: 20px;
  }
}
.hats-link:hover span {
  text-decoration: underline;
}

.hoodie {
  margin-top: 50px;
}
@media (max-width: 768px) {
  .hoodie {
    margin-top: 30px;
  }
}
.hoodie-btn {
  position: relative;
  margin-right: 4%;
  margin-top: 25px;
}
@media (max-width: 768px) {
  .hoodie-btn {
    margin-right: 20px;
  }
}
.hoodie-wrapper {
  margin-left: 4%;
}
.hoodie-wrapper .swiper-button-prev, .hoodie-wrapper.swiper-button-next {
  position: static;
}
.hoodie-wrapper .swiper-button-prev path, .hoodie-wrapper.swiper-button-next path {
  fill: #323232;
}
.hoodie-wrapper .swiper-button-prev:after, .hoodie-wrapper .swiper-button-next:after {
  display: none;
}
@media (max-width: 768px) {
  .hoodie-wrapper {
    margin-left: 20px;
  }
}
.hoodie-background {
  border-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  min-height: 470px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 30px 35px;
}
@media (max-width: 1280px) {
  .hoodie-background {
    min-height: 420px;
  }
}
@media (max-width: 1023px) {
  .hoodie-background {
    min-height: 350px;
  }
}
@media (max-width: 768px) {
  .hoodie-background {
    min-height: 320px;
  }
}
@media (max-width: 475px) {
  .hoodie-background {
    min-height: 300px;
    padding: 10px;
  }
}
@media (max-width: 375px) {
  .hoodie-background {
    min-height: 250px;
  }
}
.hoodie-title {
  color: #FFF;
}
.hoodie-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  margin-top: 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 475px) {
  .hoodie-link {
    -webkit-column-gap: 5px;
       -moz-column-gap: 5px;
            column-gap: 5px;
  }
}
@media (max-width: 475px) {
  .hoodie-link img {
    width: 20px;
  }
}
.hoodie-link span {
  color: #FFF;
  font-family: "Days One";
  font-size: 32px;
  font-weight: 400;
  line-height: 115%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 1280px) {
  .hoodie-link span {
    font-size: 28px;
  }
}
@media (max-width: 1023px) {
  .hoodie-link span {
    font-size: 22px;
  }
}
@media (max-width: 475px) {
  .hoodie-link span {
    font-size: 20px;
  }
}
.hoodie-link:hover span {
  text-decoration: underline;
}

.section-about__wrapper {
  background-image: url("../img/football.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 385px;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 40px;
  border-radius: 15px;
}
@media (max-width: 768px) {
  .section-about__wrapper {
    background-position: top center;
    padding: 20px;
  }
}
@media (max-width: 475px) {
  .section-about__wrapper {
    background-image: url("../img/football-mobile.png");
  }
}
.section-about__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}
.section-about__link span {
  color: #FFF;
  font-family: "Days One";
  font-size: 32px;
  font-weight: 400;
  line-height: 115%;
}
@media (max-width: 1280px) {
  .section-about__link span {
    font-size: 28px;
  }
}
@media (max-width: 1023px) {
  .section-about__link span {
    font-size: 24px;
  }
}
@media (max-width: 475px) {
  .section-about__link span {
    font-size: 20px;
  }
}

.advg {
  margin-top: 150px;
}
@media (max-width: 1280px) {
  .advg {
    margin-top: 120px;
  }
}
@media (max-width: 1023px) {
  .advg {
    margin-top: 80px;
  }
}
@media (max-width: 768px) {
  .advg {
    margin-top: 30px;
  }
}
.advg-title {
  margin-bottom: 35px;
}
.advg-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px 1fr 40px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
@media (max-width: 768px) {
  .advg-cards {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    row-gap: 15px;
  }
}
.advg-card {
  position: relative;
  color: #242424;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  padding: 35px 0 35px 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 768px) {
  .advg-card {
    font-size: 14px;
    padding: 30px 0 30px 45px;
  }
}
@media (max-width: 375px) {
  .advg-card {
    padding: 30px 40px;
  }
}
.advg-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 75%;
  height: 100%;
  border-radius: 101.5px;
  z-index: -1;
}
@media (max-width: 768px) {
  .advg-background {
    width: 90%;
  }
}
@media (max-width: 375px) {
  .advg-background {
    width: 100%;
    border-radius: 70px;
  }
}

.text {
  margin-top: 150px;
}
@media (max-width: 768px) {
  .text {
    margin-top: 80px;
  }
}
.text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 65px;
     -moz-column-gap: 65px;
          column-gap: 65px;
}
@media (max-width: 1280px) {
  .text-wrapper {
    -webkit-column-gap: 45px;
       -moz-column-gap: 45px;
            column-gap: 45px;
  }
}
@media (max-width: 1023px) {
  .text-wrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
  }
}
@media (max-width: 1280px) {
  .text-left {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
}
@media (max-width: 1023px) {
  .text-left {
    -ms-flex-preferred-size: unset;
        flex-basis: unset;
    width: 100%;
  }
}
@media (max-width: 1280px) {
  .text-left img {
    width: 100%;
  }
}
@media (max-width: 1023px) {
  .text-left img {
    width: 45%;
    margin: 0 auto;
  }
}
@media (max-width: 475px) {
  .text-left img {
    width: 75%;
  }
}
@media (max-width: 375px) {
  .text-left img {
    width: 100%;
  }
}
@media (max-width: 1280px) {
  .text-right {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}
@media (max-width: 1023px) {
  .text-right {
    -ms-flex-preferred-size: unset;
        flex-basis: unset;
  }
}
.text-right p {
  color: #242424;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 30px;
}
.text-right p:last-child {
  margin-bottom: 0;
}

.footer {
  margin-top: 150px;
  background-color: #242424;
  padding: 45px 0;
}
@media (max-width: 475px) {
  .footer {
    padding: 30px 40px;
  }
}
.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 975px;
}
@media (max-width: 475px) {
  .footer-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 475px) {
  .footer-logo {
    width: 70px;
  }
}
.footer-mail {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 115%;
  text-decoration-line: underline;
  margin-top: 15px;
}
.footer-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-column-gap: 100px;
     -moz-column-gap: 100px;
          column-gap: 100px;
}
@media (max-width: 768px) {
  .footer-left {
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
  }
}
@media (max-width: 475px) {
  .footer-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
}
.footer-nav a {
  color: #FFF;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 475px) {
  .footer-nav {
    margin: 45px 0;
  }
}
.footer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 45px;
     -moz-column-gap: 45px;
          column-gap: 45px;
}