@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik&display=swap');

@font-face {
    font-family: 'Days One';
    src: url('../fonts/DaysOne-Regular.woff2') format('woff2'),
}

$roboto: 'Roboto', sans-serif;
$rubik: 'Rubik', sans-serif;

$L-laptop: 1600px;
$laptop: 1280px;
$tablet: 1023px;
$L-mobile: 768px;
$mobile: 475px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.lock {
    overflow: hidden;
}

.container {
    padding: 0 4%;

    @media(max-width: $L-mobile) {
        padding: 0 20px;
    }
}

img {
    display: block;
}

a {
    display: block;
    text-decoration: none;
    transition: all .3s;
}

input {
    display: block;
    outline: none;
    transition: all .3s;
}

label.input__label {
    color: #242424;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
}

input.input {
    background: white;
    border: 1px solid #AEAEAE;
    padding: 13px 15px;

    &::placeholder {
        color: #AEAEAE;
        font-size: 14px;
        font-weight: 400;
        line-height: 140%;
    }
}

input.input__search {
    background: #FFF;
    border: none;
}

button {
    font-family: $rubik;
    display: block;
    outline: none;
    transition: all .3s;
    cursor: pointer;
}

button.btn {
    border-radius: 67px;
    border: 1px solid #242424;
    background: #FFF;
    padding: 8px 18px;

    color: #242424;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;

    &:active,
    &:hover {
        border: 1px solid #242424;
        background: #242424;
        color: #FFF;
    }
}

h1 {
    font-family: "Days One";
    color: #242424;
    font-size: 32px;
    font-weight: 400;
    line-height: 115%;

    @media(max-width: $laptop) {
        font-size: 28px;
    }

    @media(max-width: $tablet) {
        font-size: 24px;
    }

    @media(max-width: $mobile) {
        font-size: 20px;
    }
}
.swiper-button-prev, .swiper-button-next{
    z-index: 8 !important;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9;
    &.active{
        display: flex;
    }
    &-inner {
        max-width: 425px;
        border-radius: 15px;
        background: #FFF;
        box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
        padding: 50px 30px;
        position: relative;
    }

    &-close {
        width: fit-content;
        position: absolute;
        right: 30px;
        top: 30px;
        cursor: pointer;
    }

    &-top {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 40px;
        margin-bottom: 40px;

        button {
            border: none;
            font-family: $rubik;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            color: #696969;
            background-color: transparent;

            &.active {
                color: #242424;
            }
        }
    }

    &-form {

        input,
        label {
            display: block;
            width: 100%;
        }

        input {
            margin-top: 5px;
            color: #242424;
            padding: 10px 15px;
            border: 1px solid #AEAEAE;
            font-family: $rubik;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;

            /* 19.6px */
            &::placeholder {
                color: #AEAEAE;
                font-family: $rubik;
            }
        }

        label {
            color: #242424;
            font-family: $rubik;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            /* 19.6px */
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    p {
        text-align: center;
        color: #242424;
        font-family: $rubik;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        a{
            text-decoration: underline;
            display: inline;
            color: #242424;
            font-family: $rubik;
            font-size: 14px;
            font-weight: 400;
            line-height: 140%;
        }
    }
    .btn{
        width: 100%;
        margin-top: 40px;
    }
}