.advg{
    margin-top: 150px;
    @media(max-width: $laptop){
        margin-top: 120px;
    }
    @media(max-width: $tablet){
        margin-top: 80px;
    }
    @media(max-width: $L-mobile){
        margin-top: 30px;
    }
    &-title{
        margin-bottom: 35px;
    }
    &-cards{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 40px;
        @media(max-width: $L-mobile){
            grid-template-columns: repeat(1, 1fr);
            row-gap: 15px;
        }
    }
    &-card{
        position: relative;
        color: #242424;
        font-family: $roboto;
        font-size: 18px;
        font-weight: 400;
        line-height: 140%; 
        padding: 35px 0 35px 55px;
        display: flex;
        align-items: center;
        justify-content: center;
        @media(max-width: $L-mobile){
            font-size: 14px;
            padding: 30px 0 30px 45px;
        }
        @media(max-width: 375px){
            padding: 30px 40px;
        }
    }
    &-background{
        position: absolute;
        top: 0;
        left: 0;
        width: 75%;
        height: 100%;
        border-radius: 101.5px;
        z-index: -1;
        @media(max-width: $L-mobile){
            width: 90%;
        }
        @media(max-width: 375px){
            width: 100%;
            border-radius: 70px;
        }
    }
}